.social {font-size: 30px;color: antiquewhite;
background-color: rgb(223, 214, 214);
}

.list-inline {font-size: 20px; color: antiquewhite; background-color: rgb(231, 220, 220);}

.list-inline-item {font-size: 20px; color: antiquewhite; background-color: rgb(211, 194, 194);}