.social {font-size: 20em;color: antiquewhite;
background-color: grey;
}

.list-inline {font-size: 20em; color: antiquewhite; background-color: grey;}

.list-inline-item {font-size: 20em; color: antiquewhite; background-color: gray;}